/* -------------------------------------------------------------------------- */
/*                                GRNERALE                                    */
/* -------------------------------------------------------------------------- */
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{

    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    
    background-color: rgb(44, 109, 153)   
}

img {
    /*rendo fluide TUTTE le immagini */
    /*l'immagine diventa fluida e non esce dal contenitore anche se la sua 
    dimensione intrinseca è più grande */
    max-width: 100%;
    height:auto; 
}

.container {

    max-width: 1200px;
    margin:0 auto;
    border-radius: 6px;

    box-shadow: 10px 10px 75px 15px #1EAAF1;

}

.wrapper{
    width:100%;
    margin:0 auto;

    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                NAVBAR                                      */
/* -------------------------------------------------------------------------- */
.logo img{
    height: 6rem;
    width: auto;
    
}


.navbar{
    /*applichiamo display:flex al genitore di LOGO e MENU */
    display: flex; 

    /* affianca sull'asse principale e dispone ai lati opposti*/
    justify-content: space-evenly;

    /* allineo al centro sull'asse verticale */
    align-items: center;

    background-color: #1EAAF1;

    /* posizione del head sulla pag */
    position: sticky;
    top:-1px;
    
}

.navLinks ul{

    list-style-type:none;
    margin: 0;

    display: flex;
    align-items: center;

    /*aggiunge uno spazio vuoto tra gli elementi figli */
    gap: 1.5rem;

}

.navLinks button{
    background-color: #1EAAF1;
    border: none;
}

.navLinks svg{
    color: rgb(44, 109, 153);
    height:2rem;
    width: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                FUTURO swiper                               */
/* -------------------------------------------------------------------------- */
/* .box-1{
    display: flex;
    align-items: center;
    
  
}

.img-box-1 img{
    
    border-radius: 50px;

}

.text-box-1{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
} */

/* -------------------------------------------------------------------------- */
/*                                FLEX-BOX                                    */
/* -------------------------------------------------------------------------- */
.flex-box h1{
    text-align: center;
}

.box{
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
    
    column-gap: 1rem; 
    padding-bottom: 3rem;

}

.img-box{
    
    width: 40%; 
    border-radius: 5px;
    
}

.text-box{
    width: 60%;
    
}

.box:nth-of-type(even) .img-box {
    /*seleziono tutti gli elementi .servImage dentro gli elementi .servBox di numero PARI.*/

    order:1;

 /* altre pseudoclassi simili sono :last-of-type (seleziona l'ultimo) e :first-of-type (seleziona il primo) */

}

/*se voglio faccio lo stesso con i .servText dentro i .servBox pari e allineo a destra il testo */
.box:nth-of-type(even) .text-box {
    text-align: right;
}

/* -------------------------------------------------------------------------- */
/*                                FOOTER                                      */
/* -------------------------------------------------------------------------- */
footer {
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
    color: white;

    background-color: #1EAAF1;

}


/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width:992px) {
    /*tutte le regole per questo range di dimensioni*/

    /* .navbar{
        
        display: flex; 
    
        
        justify-content: space-evenly;
    
        
        align-items: center;
    
        background-color: #1EAAF1;
    
        position: sticky;
        top:-1px;
        
    } */

    .box{
      
        flex-direction: column;

    }

    .box:nth-of-type(even) .img-box {
        order:0;
    }
    
    .box:nth-of-type(even) .text-box {
    text-align: left;
}
}

/* ESEMPIO DI MEDIA QUERY CHE DEFINISCE LE REGOLE IN BASE ALL'ORIENTAMENTO DELLO SCHERMO: */


/*landscape: orizzontale | portrait: verticale */
/* @media screen and (orientation: portrait) {

    body {
        background: rgb(223, 106, 255);
    }

} */