*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    /* // <uniquifier>: Use a unique and descriptive class name
       // <weight>: Use a value from 300 to 800

    .moderustic-<uniquifier>  */
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    

}


body{

    background-color: rgb(255, 255, 255);
/* background-image: url(../img/prato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    
}

.container {

    max-width: 1200px;
    margin:0 auto;

    /* background-attachment: fixed; */
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 75px 15px #1EAAF1;

}

.logo img{
    height: 6rem;
    width: auto;
    border-radius: 40%;
}

.mainHeader{
    /*applichiamo display:flex al genitore di LOGO e MENU */
    display: flex; 

    /* affianca sull'asse principale e dispone ai lati opposti*/
    justify-content: space-evenly;

    /* allineo al centro sull'asse verticale */
    align-items: center;

    background-color: #1EAAF1;

    /* posizione del head sulla pag */
    position: sticky;
    top:-1px;
    
}

.barra_di_navigazione ul{

    list-style-type:none;
    margin: 0;

    display: flex;

    /*aggiunge uno spazio vuoto tra gli elementi figli */
    gap: 1.5rem;

}

.wrapper{
    width:75%;
    margin:0 auto;

    background-color: rgb(255, 255, 255);
    
    padding: 1rem;
}



footer {
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
    color: white;

    background-color: #1EAAF1;

}